<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Register</h2>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'index' %}" class="btn btn-secondary">Назад</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    </body>
</html>
